.topLevelLanding {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("/landing-bg.jpg");
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-size: cover; /* Makes the image cover the entire window */
  background-position: center; /* Centers the image */
  height: 100vh; /* Ensures the background image covers the entire viewport height */
  width: 100vw;
}

/* Centering the signup container */
.signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Styling the form */
.signupForm {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgb(21, 19, 19);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Styling the form heading */
.signupForm h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Styling the input fields */
.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.inputField:focus {
  border-color: #007bff;
  outline: none;
}

/* Styling the submit button */
.submitBtn {
  padding: 12px 20px;
  background-color: #032e5c;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitBtn:hover {
  background-color: #3d3d67;
}

/* Responsive styling */
@media (max-width: 480px) {
  .signupForm {
    padding: 20px;
  }

  .inputField {
    font-size: 14px;
  }

  .submitBtn {
    font-size: 14px;
  }
}
